<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Chesty Datting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list']" routerLinkActive="active">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
      </li>
    </ul>

    <div dropdown *ngIf="LoggedIn()" class="dropdown" >
      <a class="dropdown-toggle text-light" dropdownToggle >
        Welcome <span *ngIf="LoggedIn()"> {{ readToken() | titlecase }}</span>
      </a>
      <div class="dropdown-menu" *dropdownMenu mt-3>
        <a class="dropdown-item" [routerLink]="['/member/edit']" routerLinkActive="router-link-active" >
          <i class="fa fa-user"></i> Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="LoggOut()">
          <i class="fa fa-sign-out"></i>
          Logout</a>
      </div>
    </div>


    <form *ngIf="!LoggedIn()" #loginForm ="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit) = "Login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username"
        [(ngModel)]="model.username" required name="username" #username="ngModel">
      <input class="form-control mr-sm-2" type="password" placeholder="Password"
        [(ngModel)]="model.password" required name="password" #password="ngModel">
      <button  class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  </div>
</nav>
