<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3">
      <h1>Your Profile</h1>
    </div>
    <div class="col-xs-6 col-sm-8 col-lg-9">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong> Information: </strong> You have made changes. Any unsaved changes will be lost
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-title p-3">
          <img class= "card-img-top" src="{{photoUrl}}" alt= "{{user?.knownAs}}">
        </div>
        <div class="card-body p-3">
          <div>
            <strong>Location:</strong>
            <p> {{user.city}}, {{user.country}}</p>
          </div>

          <div>
            <strong>Age:</strong>
            <p> {{user.age}}</p>
          </div>

          <div>
            <strong>Last Active:</strong>
            <p> {{user.lastActive | date}}</p>
          </div>

          <div>
            <strong>Member since:</strong>
            <p> {{user.created | date}} </p>
          </div>
        </div>

        <div class="card-footer p-3">
          <div class="btn-group d-flex justify-content-around">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block"> Save </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-8 col-lg-9">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit profile">
            <form id="editForm" #editForm="ngForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea name="introduction" rows="6" class="form-control"
                [(ngModel)]="user.introduction"></textarea>
              <h4>Looking for</h4>
              <textarea name="lookingFor" rows="6" class="form-control"
                [(ngModel)]="user.lookingFor"></textarea>
                <h4>Interests</h4>
                <textarea name="interests" rows="6" class="form-control"
                  [(ngModel)]="user.interests"></textarea>
                  <h4>Location</h4>
                  <div class="form-inline">
                    <label for="city">City</label>
                    <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
                  </div>
            </form>

          </tab>

          <tab heading="Edit photos">
            <app-photo-editor (getMemberPhotoChange)="updateMainPhoto($event)"
            [photos] = "user.photos"></app-photo-editor>
          </tab>
        </tabset>
      </div>

    </div>
  </div>
</div>
